.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.wallet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 10px; /* Adjust for margin */
}

.wallet {
  margin: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 20px;
  width: 27%; /* Adjust for margin */
  max-width: 27%; /* Ensure 3 per row */
}